body {
    display: block;
    margin: 8px;
}

.header {
    background-color: antiquewhite;
    text-align: center;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
    padding: 90px;
    margin: 0;
    color: #000;
    
  }

  h4 {
    padding: 15px;
    /* margin: 0; */
    color: #000;
    text-align: center;
    background: #5191fd;
    color: white;
  }

  h4 a {
    text-align: center;
    padding: 15px;
    margin: 0;
    color: #000;
    color: white;
  }